/* Réinitialisation des marges et des paddings*/
* {
  margin: 0;
  padding: 0;
  font-family: Inter, Helvetica, sans-serif;
}
hr {
  width: 45px;
}
/* Background image */
.header {
  height: 100svh;
  width: auto;
  background-image: url("./img/background376px.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
}
/*Navbar mobil modal*/
.mobil  {
  background-color: white;
  height: 100svh;
  width: 300px;
  position: fixed;
  top: 0;
  border-radius: 10px;
  left: -250vw;
  z-index: 9999;
  transition: left 0.9s;
}
.change-mobil {
  left: 0;
}
.mobil ul li {
  border: none;
  list-style-type: none;
}
/*Navbar  */
.navbar {
  height: 60px;
  background-color: white;
}
.container-navbar {
  display: none;
}

.img-logo {
  width: 140px;
  height: 19px;
}

.container-btn {
  display: none;
}
.link-user {
  width: 35px;
  height: 35px;
  border-radius: 10px;
  background-color: black;
}
.fa-regular {
  width: 60px;
}
.btn-nav {
  width: 230px;
  background-color: rgb(232, 232, 232);
}
.btn-black {
  width: 120px;
}
/*Début search bar */
.search-bar-container {
  display: flex;
  align-items: end;
}
.search-bar--content {
  height: 50px;
  border-radius: 10px;
}
.search-input {
  border: none;
}
.container-icon {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  background-color: black;
}

/*Formulaire search bar */
.container-label {
  height: auto;
  border-radius: 10px;
  background-color: white;
}

.form-control {
  border: none;
  color: black;
}
.separator {
  width: 1px;
  height: 25px;
  border: 1px solid black;
  opacity: 15%;
}

.form-searchbar {
  height: 100px;
}

/*Carousel*/
.carousel {
  height: 75svh;
  padding: 50px 0 50px 0;
}

.carousel-content {
  overflow: hidden;
  width: 750px;
}

.carousel-content.carousel-1:nth-child(0) {
  position: absolute;
  top: 0;
}
.carousel-content.carousel-2:nth-child(1) {
  position: relative;
  overflow: hidden;
}
.carousel-content.carousel-3:nth-child(3) {
  position: absolute;
  top: 0;
}

.carousel-item {
  width: 240px;
}
.carousel-3 {
  position: relative;
}
.chevron-lg{
  position: absolute;
  bottom:15%;
  left: 55%;
}
.carousel-text {
  display: none;
}

.text-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.9s ease;
}
.text-container2.text-change .text-content {
  max-height: 250px;
  transition: max-height 0.9s ease;
}
  
.circle-chevron--left, .circle-chevron--right {
  width: 24px;
}

/*--------------- Section press --------------*/
.press {
  background-color: rgb(0, 0, 0);
  padding: 50px 0 50px 0;
}

.press-container {
  width: 100%;
  height: 100px;
  max-height: 180px;
  border: 1px solid rgb(88, 88, 88);
  border-radius: 5px;
}

.press-content {
  border: none;
  width: calc(100% / 2);
  height: calc(100% / 2);
}

.img-press {
  filter: brightness(0) invert(1);
  width: 80px;
}
.img-press--elle {
  filter: brightness(0) invert(1);
  width: 50px;
}

/*------section promotion----------*/
.promotion {
  height: auto;
  padding: 50px 0 50px 0;
}
/* Carousel version sm*/

.carousel-promotion {
  height: 290px;
  min-height: 290px;
  position: relative;
}
.carousel-promotion::before {
  content: "";
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  height: 4px;
  background-color: rgb(58, 64, 222);
}

/* contenu version md*/
.promotion-container {
  display: none;
}
.promotion-content {
  height: 200px;
  position: relative;
}
.promotion-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  height: 4px;
  background-color: rgb(58, 64, 222);
}

.container-md--button {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 0;
}
/* section recruit*/
.recruit {
  height: auto;
  background-color: rgb(243, 243, 243);
  padding: 50px 0 50px 0;
}
/*section city-search*/
.table {
  border-style: none;
}
td {
  border-style: none;
}
a{
  text-decoration: none;
  color:black
}
/*section city-search*/
.city {
  padding: 50px 0 50px 0;
}

/*section faq*/
  .faq {
    padding: 50px 0 50px 0;
  }
  .accordion {
    padding: 50px 50px 50px 50px;
  }
  .collapsing {
    transition: height 0.6s;
}
  
  
  
  /*footer*/
  .img-footer {
    filter: brightness(0) invert(1);
  }
  
  
@media screen and (max-width: 576px) {
  .tr-responsive{
    clear:both;
    

    td{
        display:block;
        float:left;
        border:none !important;

        &:first-child{
            width:50%;
        }

        &:nth-child(2){
            width:25%;
        }

        &:nth-child(3){
            width:50%;
        }
        &:nth-child(4){
          width:50%;
      }
    }
}
}

@media screen and (min-width: 576px) {
  .header {
    background-image: url("./img/background576px.svg");
    background-size: cover;
    background-position: top;
  }
  .promotion {
    padding: 50px 0 50px 0;
  }
  .recruit {
    padding: 50px 0 50px 0;
  }
}
@media screen and (max-width: 767px) {
  .form-searchbar {
    display: none;
  }
  .promotion-container{
    position: absolute;
    visibility: hidden;
  }
}
@media screen and (min-width: 767px) {
  /*header*/
  .container-btn {
    display: block;
  }
  .link-user {
    visibility: hidden;
    position: absolute;
  }
  /*search bar*/
  .search-bar-container {
    display: flex;
    align-items: center;
  }
  .btn-search {
    display: none;
  }
  .search-bar--content {
    visibility: hidden;
    position: absolute;
  }
  .separator {
    display: none;
  }
  .label-separator {
    display: none;
  }
  /*carousel*/
  .carousel-item {
    width: 324px;
  }
  /*press*/
  .press {
  padding: 80px;
  }
  .press-container {
    width: 70%;
    height: 180px;
    border: none;
  }
  .press-content {
    border: 1px solid grey;
    width: calc(100% / 4);
    height: auto;
  }
  .img-press {
    width: 160px;
  }
  .img-press--elle {
    width: 100px;
  }
  /* promotion*/
  .promotion {
    padding: 80px;
  }
  .promotion-container{
    display: block;
    border: none;
  }
  .container-btn--promotion,
  .carousel-promotion {
    display: none;
  }
  
  .container-md--button {
    display: block;
  }
  .promotion-content {
    display: block;
    min-height: 300px;
  }
  .promotion-container {
    border: 0.5px solid rgb(161, 161, 161);
  }
  .promotion-content:hover {
    box-shadow: 4px 4px 30px 10px rgb(151, 151, 151);
    .fs-5:before {
      content: "";
      position: absolute;
      top: 0;
      left: 10%;
      width: 80%;
      height: 4px;
      background-color: rgb(58, 64, 222);
    }
  }
  
  /*section recruit*/
  .recruit {
    padding: 80px;
  }
  /* section city-search*/
  .city {
    padding: 80px;
  }
  }

@media screen and (max-width: 992px) {
  .chevron-sm {
    display: block;
  }
  .city-title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .city-h2 {
    text-align: center;
  }
  .city-hr {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 992px) {
  .header {
    background-image: url("./img/Background\ 992px.svg");
    background-size: cover;
    background-position: top;
  }
  /*navbar*/
  .navbar {
    background-color: transparent;
  }
  .navbar-scroll {
    background-color: white;
  }
  .scroll {
    color: black;
  }
  .navbar-link {
    color: white;
  }
  .logo {
    filter: brightness(0) invert(1);
  }
  .container-faBurger {
    display: none;
  }
  .container-navbar {
    display: block;
  }
  /*carousel*/
  .carousel-text--sm {
    display: none;
  }
  .carousel-text {
    display: block;
  }
  .carousel-item {
    width: 475px;
  }
  .chevron-sm {
    position: absolute;
    visibility: hidden;
  }
  /*promotion*/
  .promotion-content {
  height: 300px;
}
  .chevron-sm {
    display: none;
  }
  .promotion-content::before {
    display: none;
  }
  /*recruit*/
  .recruit {
    padding: 100px;
  }
  /*city-search*/
  .city-title {
    align-items: start;
  }
  .city-hr {
    align-items: start;
  }
}

@media screen and (max-width: 1200px) {
  .press-container {
    width: 80%;
  }
  .chevron-lg{
  left: 55%;
  bottom: 10%;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    background-image: url("./img/Background\ \(2\).svg");
  }
  header {
    padding: 0 100px 0 100px;
  }
  .search-bar-container {
    display: flex;
    align-items: start;
  }
  .separator {
    display: block;
  }
  .label-separator {
    display: block;
  }
  .carousel-item {
    width: 550px;
  }
  .press {
    padding: 50px 0 50px 0;
  }
}
