/* Réinitialisation des marges et des paddings*/
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: Inter, Helvetica, sans-serif
}

/* Background image */
.header {
  height: 100vh;
  background-image: url("./img/background376px.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

/*Navbar  */
.navbar {
  height: 60px;
  background-color: white;
}
.container-nav {
  width: 100%;
}
.container-navbar {
  display: none;
}

.logo img {
  width: 140px;
  height: 19px;
}

.container-btn{
  display: none;
}
.link-user {
  width: 35px;
  height: 35px;
  border-radius: 10px;
  background-color: black;
}
.fa-regular {
  width: 60px;
}
.btn-nav {
  width: 230px;
  background-color: rgb(232, 232, 232);
}
.btn-black {
  width: 120px;
}
/*Début search bar */
.search-bar--content{
  height: 50px;
  border-radius: 10px;
}
.search-bar-container {
  display: flex;
  align-items: end;
}
.search-input {
  border: none;
}
.container-icon {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  background-color: black;
}

/*Formulaire search bar */
.form-search {
  background-color: white;
}
.container-label {
  height: auto;
  border-radius: 10px;
  background-color: white;
}

.form-control {
  border: none;
  color: black;
}
.separator {
  width: 1px;
  height: 25px;
  border: 1px solid black;
  opacity: 15%;
  
  .form-searchbar {
    height: 100px;
  }
}
@media screen and (min-width: 576px) {
  .header {
    background-image: url("./img/background576px.svg");
    background-size: cover;
    background-position: top;
  }
}
@media screen and (max-width: 767px) {
  .form-searchbar {
    display: none;
  }
}
@media screen and (min-width: 767px) {
  .container-btn {
    display: block;
  }
.link-user {
  visibility: hidden;
  position: absolute;
}
.search-bar-container {
  display: flex;
  align-items: center;
}
.btn-search {
  display: none;
}
.search-bar--content {
  visibility: hidden;
  position: absolute;
}
.separator {
  display: none;
}
.label-separator {
  display: none;
}
}

@media screen and (min-width: 992px) {
  .header {
    background-image: url("./img/Background\ 992px.svg");
    background-size: cover;
    background-position: top;
  }
  .navbar {
    background-color: transparent;
  }
  .navbar-nav a {
    color: white;
  }
  .logo {
    filter: brightness(0) invert(1);
  }
  .container-faBurger {
    display: none;
  }
  .container-navbar {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    background-image: url("./img/Background\ \(2\).svg");
  }
  header {
    padding: 0 100px 0 100px ;
  }
  .search-bar-container {
    display: flex;
    align-items: start;
  }
  .separator {
    display: block;
  }
  .label-separator {
    display: block;
  }
  
}
